*.pyc
output_files/
test_assets/
node_modules/
Sintel.*
docs/build/
build/
dist/
shaka_streamer.egg-info/
shaka_streamer_binaries.egg-info/
.idea/
venv/
dev/
.vscode/
ffmpeg*
ffprobe*
packager*
.mypy_cache/
